<div class="lg:m-2 p-2 rounded shadow-md w-full lg:w-1/2 bg-gray-100 box-border">
    <h1 class="text-xl font-bold">Recipe Blog</h1>

    <p>You can find various recipes of many world cuisine.</p>
    <p class="mb-4">You can upload your recipe on <a class="text-blue-800" href="/submit-recipe">submit</a>, which helps many
        peoples.</p>

    <h2 class="font-bold">Contact Us</h2>
    <span>Mobile: 8792589747</span>
</div>