<section class="m-auto mx-4 mb-10">
    <div class="flex justify-between items-center ">
        <h1 class="font-bold text-xl mb-3">Search Results</h1>
    </div>
    <div class="grid grid-cols-5 gap-14">

        <% if(recipe !='' ){ %>
            <% recipe.forEach(function(recipe, index){ %>
                <a href="/recipe/<%= recipe._id %>" class="h-60 text-center hover:scale-105 transition-all">
                    <div class="flex items-center justify-center">
                        <img class="h-60 w-52 object-cover overflow-hidden rounded" src="/uploads/<%- recipe.image %>"
                            alt="<%- recipe.name %>">
                    </div>
                    <div class="w-48">
                        <%- recipe.name %>
                    </div>
                </a>
                <% }) %>
                    <% } %>

    </div>
</section>